@import "./reset.css";

:root {
  --text-color: #1a1a1a;
  --disabled-text-color: #bbbbbb;
  --track-background-color: rgb(51, 51, 51);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

main {
  margin-bottom: 60px;
}

button {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--text-color);
  cursor: pointer;
}

button:disabled {
  border-color: var(--disabled-text-color);
  color: var(--disabled-text-color);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  column-gap: 8px;
}

#tracks {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.track {
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  width: max-content;
  background-color: var(--track-background-color);
}

/* .play-button {
} */

.copyright-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 16px;
  column-gap: 4px;
  user-select: none;
}

.copyright-wrapper p,
a {
  color: var(--text-color);
}
